/*
!.htaccess
!.gitignore
!robots.txt
!/_DB
!/_DB/*
!/administrator
/administrator/*
!/administrator/components
!/components
/components/*
!/components/com_booking
!/modules/
/modules/mod_mapping/src/gkey.php
!/templates/
/templates/booking/*
!/plugins/
!/language/
!/language/*
!/language/fr_FR/*
!/media
!/media/editors/*