/*
!.htaccess
!.gitignore
!robots.txt
!/_DB
!/_DB/*
!/components
/components/*
!/components/com_booking
!/administrator
/administrator/*
!/administrator/components
/administrator/components/*
!/administrator/components/com_booking
!modules
/modules/*
!/modules/mod_mapping
!language
language/*
!language/en-GB
!language/fr-FR
!templates
templates/*
!templates/booking
!media
media/*
!media/editors
media/editors/*
!media/editors/tinymce
media/editors/tinymce/*
!media/editors/tinymce/templates
