/*
!.htaccess
!.gitignore
!robots.txt
!/_DB
!/_DB/*
!/administrator
/administrator/*
!/administrator/components
!/components
/components/*
!/components/com_booking
!/modules/
!/templates/
!/plugins/
!/language/
!/language/*
!/language/fr_FR/*
